/* style.module.css */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px;
  /* רווח מלמעלה ומלמטה */
}

.table th,
.table td {
  padding: 6px;
  /* רווח פנימי בתאים */
  text-align: left;
  /* יישור טקסט לשמאל */
}

.table th {
  background-color: #6a1b9a;
  /* רקע צבע אפור בתאי כותרת */
  vertical-align: middle;
}

.table td input[type="checkbox"] {
  margin-right: 5px;
  /* רווח מימין לצד ה-checkbox */
}

.table tr:nth-child(2n) {
  background-color: #7453b1;
}

.table td .react-icon {
  font-size: 16px;
  color: #3498db;
  /* צבע כחול לדוגמא */
}

.taskDone {
  text-decoration: line-through;
}

/* סגנונות נוספים למסך קטן */
@media (max-width: 600px) {

  .table {
    font-size: 14px;
    margin: 5px;
    width: 90%;
    border-collapse: collapse;
  }

  .table th,
  .table td {
    padding: 4px;
    font-size: 12px;
    margin: 5px;
  }

  .table td .react-icon {
    font-size: 14px;
  }
}