/* style.module.css */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* רווח מלמעלה */
  }
  
  .table th, .table td {
    /* border: 1px solid #6a1b9a; */
     /* גבולות סולידיים */
    padding: 8px; /* רווח פנימי בתאים */
    text-align: left; /* יישור טקסט לשמאל */
  }
  
  .table th {
    background-color: #6a1b9a; /* רקע צבע אפור בתאי כותרת */
    vertical-align: middle;
  }

  
  .table td input[type="checkbox"] {
    margin-right: 5px; /* רווח מימין לצד ה-checkbox */
  }
  .table tr:nth-child(2n) {
    background-color: #7453b1;
}
  
  /* סגנונות נוספים לסמלים (לדוג', סמל דוגמא - כמו הכלב) */
  .table td .react-icon {
    font-size: 20px;
    color: #3498db; /* צבע כחול לדוגמא */
  }

  .taskDone{
    text-decoration: line-through;
  }
  