.buttens{
 width: 92%;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 20px ;

}

.b {
    border-radius: 20%;
    cursor: pointer;
    border: 0cap;
    padding: 10px;
    background-color:  rgb(25, 8, 31);
    color: rgb(182, 56, 220);
    border-radius: 5px;
   
}